@charset "utf-8";
@import url("curriculum.css");
/* CSS Document */
/*corpo*/
*{
 margin:0;
 padding:0;
}

html {
}

body {

}

.main-principal {
  background: url('../img/hero.jpg') no-repeat center center;
  height: 1080px;
}

.modal-curriculum {
    width:75%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

.center{
    margin: 0 auto;
    width: 100%;
    float: none;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
  *zoom: 1;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

html, button, input, select, textarea {
  font-family: 'Dosis', sans-serif;
}
body {
   margin: 0; font-family: 'Dosis', sans-serif;
 }


audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}

.hero h1 {
  font-size: 60px;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
}

p {
  font-weight: 100;
}
.navigation {
  background-color: #1F1F1F;
}
.nav-last {
  margin-bottom: 50px;
}
nav ul {
  list-style: none; padding: 0;
}
nav ul li a {
  color: rgba(255, 255, 255, 0.6);
  padding: 20px; display: block;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  padding-left: 0;
  position: relative;
}
nav ul li a:hover, nav ul li a:focus {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.indicator {
  position: absolute;
  right: 0
  !important;
}
.pull {
  display: none;
}
/*.hero {
  background: url('../img/hero.jpg') no-repeat center center;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  background-size: 100% 100%;
 }*/
.hero p {
  color: #d0e7e9;
  font-style: italic;
  font-size: 17px;
}
.hero a {
  color: #fff;
}
.hero-play-btn {
  height: 99px;
  width: 99px;
  background: url('../img/play-btn.png') no-repeat center center;
  display: block;
  text-indent: -99999px;
  margin: 80px auto 260px;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.hero-play-btn:hover, .hero-play-btn:focus {
  transform: translate(0, -15px);
  -webkit-transform: translate(0, -15px);
  -o-transform: translate(0, -15px);
  -moz-transform: translate(0, -15px);
}
